.App{
display: flex;
flex-direction: row;
}

.drawer{
  flex: 1;
  background-color: rebeccapurple;
}
.content{
  flex: 4;
  background-color: green;
}

.tabIcon{
  width: 45px;
  height: 45px;
  margin: 10px;
}
.bookmarkContainer{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}